<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Educational website for articles on mathematics, computer science, languages, physics, chemistry, and engineering, with interactive quizzes, code execution, and graphics rendering.">
	<title>{% block title %}bpu.im{% endblock %}</title>
	<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><text y='25rem' font-size='480'>🧠</text></svg>">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
	<link href="../static/styles+tailwind.css" rel="stylesheet">
	<script src="../static/config.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/auto-render.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/mathjax/es5/tex-mml-chtml.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
</head>

<body class="bg-black text-green-400">{% include 'partial/header.html' %}<main class="container mx-auto px-4 py-8">{% block content %}{% endblock %}</main>{% include 'partial/footer.html' %}</body>

</html>